[user]
	name = Cristhian Melo
	email = cristhixnn@hotmail.com
[core]
	editor = nvim
	autocrlf = input
[alias]
	s = status -s
	a = add
	c = commit -m
    p = push
    b = branch
    d = diff
    m = merge
    pll = pull
    ch = checkout
    nb = checkout -b
	l = log --oneline --decorate --all --graph
	unstage = reset HEAD
