// solarized colors
// base #002B36
// gray #ADB8B8
// gold #B58900
// white #FFFFFF
// orange #CB4B16
// red #DC322F
// magenta #D33682
// violet #6C71C4
// blue #268BD2
// cyan #2AA198
// green #859900

layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{mode}{tabs}"
                format_center ""
                format_right  "#[fg=#ADB8B8,bg=#002B36]#[fg=#002B36,bg=#ADB8B8] rxtsel #[fg=#002B36,bg=#ADB8B8]"
                format_space  ""

                mode_normal        "#[fg=#002B36,bg=#ADB8B8] {name}#[fg=#ADB8B8,bg=#ADB8B8]#[fg=#ADB8B8,bg=#002B36]"
                mode_resize        "#[fg=#002B36,bg=#D33682] {name}#[fg=#D33682,bg=#D33682]#[fg=#D33682,bg=#002B36]"
                mode_pane          "#[fg=#002B36,bg=#859900] {name}#[fg=#859900,bg=#859900]#[fg=#859900,bg=#002B36]"
                mode_tab           "#[fg=#002B36,bg=#268BD2] {name}#[fg=#268BD2,bg=#268BD2]#[fg=#268BD2,bg=#002B36]"
                mode_scroll        "#[fg=#002B36,bg=#268BD2] {name}#[fg=#268BD2,bg=#268BD2]#[fg=#ADB8B8,bg=#002B36]"
                mode_rename_tab    "#[fg=#002B36,bg=#CB4B16] {name}#[fg=#CB4B16,bg=#CB4B16]#[fg=#CB4B16,bg=#002B36]"
                mode_rename_pane   "#[fg=#002B36,bg=#CB4B16] {name}#[fg=#CB4B16,bg=#CB4B16]#[fg=#CB4B16,bg=#002B36]"
                mode_session       "#[fg=#002B36,bg=#6C71C4] {name}#[fg=#6C71C4,bg=#6C71C4]#[fg=#6C71C4,bg=#002B36]"
                mode_move          "#[fg=#002B36,bg=#ADB8B8] {name}#[fg=#ADB8B8,bg=#ADB8B8]#[fg=#ADB8B8,bg=#002B36]"
                mode_locked        "#[fg=#002B36,bg=#ADB8B8] {name}#[fg=#ADB8B8,bg=#ADB8B8]#[fg=#ADB8B8,bg=#002B36]"
                mode_enter_search  "#[fg=#002B36,bg=#ADB8B8] {name}#[fg=#ADB8B8,bg=#ADB8B8]#[fg=#ADB8B8,bg=#002B36]"
                mode_prompt        "#[fg=#002B36,bg=#ADB8B8] {name}#[fg=#ADB8B8,bg=#ADB8B8]#[fg=#ADB8B8,bg=#002B36]"
                mode_tmux          "#[fg=#002B36,bg=#ADB8B8] {name}#[fg=#ADB8B8,bg=#ADB8B8]#[fg=#ADB8B8,bg=#002B36]"

                tab_normal    "#[fg=#ADB8B8] {name} "
                tab_active    "#[fg=#002B36,bg=#B58900]#[fg=#FFFFFF,bg=#B58900,bold] {name} #[fg=#B58900]"
            }
        }
    }
}
