/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  font-family:
    "SF Pro Display",
    -apple-system;
  border: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
}

window#waybar {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  background: transparent;
  transition: all 0.5s ease-in-out;
  border: none;
  margin: 0;
  padding: 0;
}

#workspaces button {
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  color: #cccccc;
  opacity: 0.4;
}

#workspaces button.active {
  opacity: 1;
  min-width: 30px;
  color: #ffffff;
}

#workspaces button:hover {
  opacity: 1;
  box-shadow: inherit;
  text-shadow: inherit;
  background: none;
  border: none;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 4px;
  background-color: #1d1d1d;
  padding: 20px;
  margin: 0;
}

tooltip label {
  color: #ffffff;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  background-color: transparent;
  margin: 0 15px 0;
  padding: 2px 10px 0 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  opacity: 0.8;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-music {
  min-width: 24px;
  color: #ffffff;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */
#memory,
#cpu,
#disk {
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  min-width: 24px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */
#clock {
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
  transition: background-color 0.5s ease;
  margin-right: 15px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */
#pulseaudio {
  background-color: transparent;
  color: #ffffff;
  min-width: 24px;
}

#pulseaudio.muted {
  background-color: transparent;
  color: #ffffff;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */
#network {
  background-color: transparent;
  color: #ffffff;
  min-width: 24px;
}

#network.ethernet {
  background-color: transparent;
  color: #ffffff;
}

#network.wifi {
  background-color: transparent;
  color: #ffffff;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */
#bluetooth.on,
#bluetooth.connected {
  background-color: transparent;
  font-size: 16px;
  color: #ffffff;
  min-width: 24px;
}

#bluetooth.off {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */
#tray {
  background-color: transparent;
  min-width: 24px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */
label:focus {
  background-color: #000000;
}

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: #f53c3c;
}

/* -----------------------------------------------------
 * Keyboard Layout
 * ----------------------------------------------------- */

#language {
  min-width: 24px;
  color: #ffffff;
  margin-right: 4px;
  font-size: 14px;
  font-weight: 600;
}

#custom-notification {
  font-family: "DankMono Nerd Font Mono";
}

/* -----------------------------------------------------
 * Custom
 * ----------------------------------------------------- */
