configuration {
  show-icons:         true;
  icon-theme:         "Mkos-Big-Sur-Night";
  font: "SF Pro Display 20";
  drun-display-format: " {name} [<span weight='light' size='small'><i>({generic})</i></span>]";
  max-history-size: 25;
  width: 50;
  lines: 15;
  columns: 1;
}

@theme "/usr/share/rofi/themes/darksel.rasi"

element-icon {
    size:             1.0em ;
}
