@define-color text            #839395;
@define-color background      #001419;
@define-color background-alt  #001419;
@define-color selected        #002c38;
@define-color hover           #001014;
@define-color urgent          #db302d;

* {
    /*background-alt:        @color1;      Buttons background */
    /*selected:              @color2;      Button selected */
    /*hover:                 @color5;      Hover button */
    /*urgent:                @color6;      Urgency critical */
    /*text-selected:         @background; */

    color: @text;

    all: unset;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    transition: 200ms;
}

.notification-row {
    outline: none;
    margin: 0;
    padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
    background: alpha(@background, 0.5);
    box-shadow:
        0 0px 2px 0px rgba(0, 0, 0, 0.25),
        0 0px 9px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid @background;
    border-radius: 16px;
    padding: 12px;
    margin: 12px 12px 0 0;
}

.image {
    margin: 10px 20px 10px 0px;
}

.summary {
    font-weight: 800;
    font-size: 1rem;
}

.body {
    font-size: 1rem;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .close-button {
    padding: 2px;
    border-radius: 999999px;
    background-color: transparent;
    font-size: 10px;
    margin-right: -6px;
    margin-top: -6px;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .close-button:hover {
    background-color: alpha(@background, 0.6);
}

.floating-notifications.background
    .notification-row
    .notification-background
    .close-button:active {
    background-color: @selected;
}

.notification.critical progress {
    background-color: @selected;
}

.notification.low progress,
.notification.normal progress {
    background-color: @selected;
}
